.App {
  text-align: center;
}
.todoList {
  display: flex;
  flex-wrap: wrap;
}
.todoListIndi {
  width: 120px;
  height: 120px;
  border: 3px solid lightblue;
  border-radius: 20px;
  margin: 10px 15px 0px 0px;
}
